
<div class="footer1 text-white d-flex justify-content-around align-items-center ">

      
<div class="d-flex justify-content-center align-items-center flex-column  w-25 ">
    
  <p class="h2">  LOCATION </p>

   <p> 2215 John Daniel Drive 
    <br> Clark, MO 65243</p>
</div>
        
       
<div class=" w-25  ">
    <p class="h2"> AROUND THE WEB </p>
    <div class="d-flex justify-content-center align-items-center social  ">
        <i class="fa-brands fa-facebook   m-1 border border-2 border-white rounded-5 p-2 "></i>
        <i class="fa-solid  fa-xmark      m-1   border border-2 border-white rounded-5  p-2   "></i>
        <i class="fa-brands fa-linkedin   m-1 border border-2 border-white rounded-5  p-2   "></i>
        <i class="fa-brands fa-instagram  m-1 me-4 border border-2 border-white rounded-5 p-2 "></i>
    </div>


        </div>
       
<div class="w-25 ">
        <p class="h2"> 
            ABOUT FREELANCER
             </p>
             <p>Freelance is a free to use, licensed Bootstrap<br> theme created by Route</p>
</div>
        
</div>







<div class="bg-black d-flex  justify-content-center align-items-center pt-3 pb-2">
<p class=" text-white">Copyright © Your Website 2021</p>

</div>