<section class="portfolio py-4">
<div class="portofolio-title">
    <h1 class="text-center title-color text-uppercase fw-bold" > portfolio component</h1>

<div class="text-center d-flex justify-content-center align-items-center ">
    <div class="line-star m-3"></div>
    <div> <i class="fas fa-star"></i> </div>
     <div class="line-star m-3"></div>
</div>
</div>
<!-- _____________________________________________________________________________  -->

       <!-- __________________________________________________________________  -->

<div class="container py-4">

<div class="row g-4">
 @for (url of imgurl; track $index) {
    <div class="col-md-4 cursor-pointer">
        <div (click)="isHidden = false; modelimg = url">
          <img  [src]="url" class="w-100">
      </div>
    </div>
  }
  </div>
</div>
<!-- _____________________________________________________________________________  -->

     <!-- ____________________________________________________________________  -->


<div  (click)="hideModel($event.target,imgRef)"    
 [class.d-none]="isHidden" 
  class="model__ position-fixed start-0 top-0 w-100 h-100 bg-primary bg-opacity-25 d-flex justify-content-center align-items-center"  >  
<img #imgRef [src]="modelimg" class="w-50" alt="model image"/>
</div>
</section>