.framework-section{background-color: #1abc9c;height: 80vh;}
.line-star{background-color:white ;width: 80px;height: 4px;display: inline-block;}
i{color: white;}



h1{	
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;}